<div class="container">
    <button class="btn" (click)="showEditor = !showEditor">Edit</button><br />
    <div *ngIf="showEditor">
        <div class="row">
            <label>
                Title:
                <input type="text" [(ngModel)]="sheet.title">
            </label>
        </div>
        <div class="row">
            <div  class="col-md-3">
                <label>
                    Note Equation:
                    <input type="text" [(ngModel)]="sheet.noteEQ">
                </label>
            </div>
            <div class="col-md-3">
                <label>
                    Length Equation:
                    <input type="text" [(ngModel)]="sheet.lengthEQ">
                </label>
            </div>
            <br />
        </div>
        <button class="btn btn-success" (click)="createSVG(sheet)">Generate Sheet!</button>
        <button class="btn btn-success" (click)="createMidi(sheet)">Create a Midi</button>
    </div>
    <div id="midiout"></div>
    <div id="sheetout"></div>

</div>